
/* Navbar */
.navbar {
  width: 100%;
  background-color:#d46a9e;
  padding: 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color:white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color:#f7dbe6;
}
body{
        font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h2 {
            text-align: center;
            color:#d46a9e;
        }

        .form-container {
            max-width: 600px;
            margin: 0 auto;
            background-color: white;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 600;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 14px;
        }

        textarea {
            resize: vertical;
            height: 80px;
        }

        .envio-options {
            margin-bottom: 20px;
        }

        .envio-options label {
            font-weight: normal;
        }

        .btn-pagar {
            width: 100%;
            padding: 12px;
            background-color:#d46a9e;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-pagar:hover {
            background-color:#f7dbe6;
        }